.entry-list {
    margin-left: 1em;
    border-left: 1px solid var(--layer-w-1);
    position: fixed;
    width: 10%;
    margin-bottom: 50vh;
    scroll-behavior: smooth;
}

.entry-item {
    width: 100%;
    color: var(--layer-w-2);
    /* margin: .25em .5em; */
    
    position: relative;
    padding-left: 1em;
    display: flex;
    align-items: center;
}

.entry-item::before {
    content: "";
    position: absolute;
    left: 0;                 /* exact border position */
    width: .5em;
    height: 2px;
    background: var(--layer-w-3);
    /* border-radius: 50%; */
    transform: translateX(-50%);
    /* outline: 1px solid #0ff8; */
}


.entry-bullet {
    position: relative;
    top: 50%;
    left: 0;
    background-color: var(--layer-w-1);
    width: .25em;
    height: .25em;
    border-radius: 50%;
    margin-left: -0.5em;
    outline: 1px solid #f008;
}