/* Empty State */
:host {
    margin: auto;
    display: block;
}

.empty-state {
    text-align: center;
    color: var(--layer-w-2);
}

.home-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-bottom: 0.2em;
}

.empty-state p, .home-header h1 {
    color: var(--layer-w-2);
}
