/* You can add global styles to this file, and also import other style files */
:root {
    --bg: #111;
    --accent: #ddd;
    --layer-w-1: #fff2;
    --layer-w-2: #fff4;
    --layer-w-3: #fff8;
    --layer-b-1: #0002;
    --layer-b-2: #0004;
    --layer-b-3: #0008;
    --std-transition: .1s ease-out;
}

html, body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: var(--bg);
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
    display: flex;
}

app-root {
    height: 100%;
    width: 100%;
}

input {
    background-color: var(--bg);
    border: 1px solid transparent;
    border-bottom: 1px solid var(--layer-w-1);
    padding: .5em 0em;
    transition: var(--std-transition);
    border-radius: 0;
    color: var(--layer-w-3);
    width: 20em;
    font-family: 'Montserrat', sans-serif;
}

input:hover {
    border-bottom: 1px solid var(--layer-w-2);
}

input:active, input:focus {
    border-bottom: 1px solid var(--layer-w-3);
    outline: none;
}

* {
    color: var(--accent);
    background-color: transparent;
}